$primary-color: #6f757c;
$secondary-color: #1b1d1f;
$third-color: #f6c768;
$light-color: #fef7ee;
$dark-color: #111315;
$success-color: #bee3cc;
$error-color: #ed735d;

$border-rd: 20px;
$border-rd-s: 10px;
$border-rd-xs: 5px;
